html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: #3e7949;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover{
    text-shadow: 0 0 10px rgb(0, 214, 221);
    color: cadetblue;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:  0px;
}


svg {
    fill: currentColor;
    max-height: 15px;
}

@media (max-width : 900px) {
    h1 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: large;
    }

    h2 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: medium;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: small;
    }

    svg {
        max-height: 10px;
    }
}

.iconoLista:hover {
    box-shadow: 0 0 10px rgb(35 223 37);
}

.borderCirculo {
    border-radius: 50%;
}

.margin15 {
    margin-left: 15%;
    margin-right: 15%;
}

.marginAuto {
    margin-left: auto;
    margin-right: auto;
}

.marginL60 {
    margin-left: 60px;
}

.marginR60 {
    margin-right: 60px;
}

.displayFlex {
    display: flex;
    flex-wrap: wrap;
}

.width33 {
    width: 33%;
}

.width40 {
    width: 40%;
}

.width60 {
    width: 60%;
}

.width70 {
    width: 70%;
}

.width100 {
    width: 100%;
}

.widthAuto {
    width: auto;
}

.width950 {
    width: 950px;
}

.maxWidth {
    max-width: 950px;
}

.sombra {
    box-shadow: 0 4px 10px 0 cadetblue, 0 4px 20px 0 cadetblue;
}

.padding08{
    padding: 0 8px;
}

.padding10 {
    padding: 10px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.paddingTop30 {
    padding-top: 30px;
}

.paddingLados20 {
    padding-left: 20px;
    padding-right: 20px;
}

.margin5 {
    margin: 5px;
}

.marginRight5 {
    margin-right: 5px;
}

.marginRight8{
    margin-right: 8px;
}

.marginRight30 {
    margin-right: 30px;
}

.marginLeft30 {
    margin-left: 30px;
}

.marginTop16 {
    margin-top: 16px;
}

.marginBottom16 {
    margin-bottom: 16px;
}

.marginBottom5 {
    margin-bottom: 5%;
}

.backColorWhite {
    background-color: white;
}

.iconoGit::before {
    content: url("../recursos/imagenes/github.svg");
}

.iconoHome {
    content: url("../recursos/imagenes/house-solid.svg");
}

.iconoLinkedin {
    content: url("../recursos/imagenes/linkedin.svg");
}

.iconoMail {
    content: url("../recursos/imagenes/envelope-solid.svg");
}

.iconoPortafolio {
    content: url("../recursos/imagenes/briefcase-solid.svg");
}

.iconoTel {
    content: url("../recursos/imagenes/phone-solid.svg");
    fill: cadetblue;
}
.iconoTelMod {
    content: url("../recursos/imagenes/phonemod.svg");
}

.maxHeigth24 {
    max-height: 24px;
} 

.tamañoIcono {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.bordeRedondeado {
    border-radius: 10px;
}

.cadetBlue {
    background-color:cadetblue;
}

.sombraTexto :hover {
    text-shadow: 0 0 20px #f50b0b;
    color: rgb(164, 247, 250);
}

.noSeleccionado {
    color: currentColor;
}
.seleccionado {
    color: #083f12;
    border-top: solid;
    border-top-width: 1px;
    margin-top: -1px;
}

.borderTopInset {
    border-top: inset;
    border-top-width: 1px;
}

.contentCenter {
    justify-content: center;
}

.contentEnd {
    justify-content: end;
}

.elementoCentrado {
    align-items: center;
    cursor: pointer;
    display: flex !important;
    flex-direction: row;
    height: 52px;
    justify-content: center;
    text-transform: uppercase;
}

.estiloTexto {
    margin-top: 20px;
    font-size: large;
    letter-spacing: 2px;
}

.imgIcono {
    height: 80px;
}

.imgProyec {
    height: 200px;
}

.imgLogo {
    height: 150px;
}

@media (max-width : 900px) {
    .imgIcono{
        height: 40px;
    }

    .imgProyec {
        height: 100px;
    }

    .imgLogo {
        height: 100px;
    }

    .letraMenu {
        font-size: 10px;
    }

    .estiloTexto {
        margin-top: 20px;
        font-size: small;
        letter-spacing: 3px;
    }

    .margin15 {
        margin-left: 0%;
        margin-right: 0%;
    }
}

.img80 {
    height: 80px;
}

.img150 {
    height: 150px;
}

.img200 {
    height: 200px;
}

.imgSobreMi {
    width: 250px;
    border-radius: 50%;
}

@media (min-width: 601px) {
    .w3-col.m1 {
        width:8.33333%
    }

    .w3-col.m2 {
        width: 16.66666%
    }

    .w3-col.m3,.w3-quarter {
        width: 24.99999%
    }

    .w3-col.m4,.w3-third {
        width: 33.33333%;
    }

    .w3-col.m5 {
        width: 41.66666%
    }

    .w3-col.m6,.w3-half {
        width: 49.99999%
    }

    .w3-col.m7 {
        width: 58.33333%
    }

    .w3-col.m8,.w3-twothird {
        width: 66.66666%
    }

    .w3-col.m9,.w3-threequarter {
        width: 74.99999%
    }

    .w3-col.m10 {
        width: 83.33333%
    }

    .w3-col.m11 {
        width: 91.66666%
    }

    .w3-col.m12 {
        width: 99.99999%
    }
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 33%;
    border-radius: 10px;
  }
  @media (max-width : 900px) {
    .modal-content{
        width: 95%;
    }
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .cursorPointer {
    cursor: pointer;
  }

.mySlides {display: none}

  /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }